.out{
    padding:5px;
    border-radius:10px;
    border:2px solid black;
    margin:2px;
    display: flex;
    justify-content: space-around;
    width:350px;;
}
.cartsiuu{
    margin-top:-3px;
}
.cartbtn {
    height:25px;
    width:25px; 
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    text-align: center ;
    border-radius:3px;
    padding:1px;
    background-color:blueviolet;
}
.c1{
    height:80px;
    margin:10px;
    position:relative;
    left:-30px;
    padding-left:30px;
}
.c2{
    margin-top:30px
}
.hack{
    display: flex;
    margin-top: 10px;
    position: relative;
    left:-6px;
}
.X{
    color:red;
    background-color: rgb(20, 4, 4);
    font-weight:800;
    border-radius: 3px;;
    position: relative;
    right:-60px;
}